{{#link-to "index"}}
  Home
{{/link-to}}
{{#link-to "contact"}}
  Contact
{{/link-to}}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quas modi perspiciatis odio quam quo porro pariatur sit? Explicabo dignissimos exercitationem sed dicta quod, qui rem placeat ratione quidem. Iste!</p>
<button>New Feature</button>
{{outlet}}
